@model IEnumerable<PharmClient.Models.AddtoCart>

@{
    ViewData["Title"] = "Cartdetails";
    decimal total = 0;
}

<style>
    th {
        color: white;
    }
    input:hover[type="submit"] {
        border-radius: 20%;
        border: none;
        border-color: bisque;
        background-color: antiquewhite;
    }

    input.slide-hover-left-1 {
        background-image: linear-gradient(0, #156760, #156760);
        background-size: 0;
        transition: .8s;
        background-repeat: no-repeat;
    }

        input.slide-hover-left-1:hover {
            background-size: 100%;
            color: #fff;
        }

    button:hover[type="submit"] {
        border-radius: 20%;
        border: none;
        border-color: bisque;
        background-color: antiquewhite;
    }

    button.slide-hover-left-1 {
        background-image: linear-gradient(0, #156760, #156760);
        background-size: 0;
        transition: .8s;
        background-repeat: no-repeat;
    }

        button.slide-hover-left-1:hover {
            background-size: 100%;
            color: #fff;
        }
    td {
        color: #156760;
    }
</style>
<div style="width =100%; background-color: #A2ECE6;border:none;">
    <h1 style="color: #156760;text-align:center">Orderdetails</h1>
    <br />
    <h4 style="color: #156760;text-align:center">Hello @ViewBag.Username!! Here are your Orders</h4>
</div>


<table class="table">
    <thead>
        <tr style="background-color: #156760">
            @*<th>
                Cart Id
            </th>
            <th>
                User ID
            </th>
            <th>
                Product ID
            </th>*@
            <th>
                Product
            </th>
            <th>
                Product Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style="background-image: linear-gradient(to right,white,white,#A2ECE6);width:100%">
            @*<td style="color: #156760">
                @Html.DisplayFor(modelItem => item.Cartid)
            </td>
            <td style="color: #156760">
                @Html.DisplayFor(modelItem => item.Userid)
            </td>
            <td style="color: #156760">
                @Html.DisplayFor(modelItem => item.Productid)
            </td>*@
            <td style="color: #156760">
                <img src="@Url.Content(item.ProductImage)" alt="no data" height="100" width="100" />
            <td style="color: #156760">
                @Html.DisplayFor(modelItem => item.Productname)
            </td>
            <td style="color: #156760">
                @Html.DisplayFor(modelItem => item.ProductDesc)
            </td>
            <td style="color: #156760">
                Rs.@Html.DisplayFor(modelItem => item.Price)
            </td>

            
            <td> <a asp-action="Delete" asp-route-id="@item.Cartid" onclick="return confirm('Are you sure you want to delete this product?')"><img src="~/Images/delete.png" width="35" height="35" /></a> </td>
        </tr>
            total = total + Convert.ToDecimal(item.Price);
        }
    </tbody>
</table>

<div style="width =100%; background-color: #A2ECE6;border:none;">
    <h5 style="color: #156760;text-align:right;">Your total price is Rs.@total</h5>
    <br />
    <a onclick="location.href='@Url.Action("Payment", "Payment")'"><button class="btn btn-primary slide-hover-left-1" style="background-color: #1D8D84; border: none; padding: 7px 30px; color: white">Buy now</button></a>
    <a onclick="location.href='@Url.Action("Productdetails", "Prod")'"><button class="btn btn-primary slide-hover-left-1" style="background-color: #1D8D84; border: none; padding: 7px 30px; color: white">Back to products</button></a>
</div>